body {
    font-size: 80px;
    text-align: left;
}
.salmon-bg {
    background-color: lightpink;
    border: 10px solid blue;
    display: inline-block;
    margin-right: -20px;
    vertical-align: top;
}
.The {
    color: red;
}
.quick {
    color: orange;
}
.brown {
    color: yellow;
}
.fox {
    color: green;
}
.jumps {
    color: blue;
}
.over {
    color: #800080;
}
.black-bg {
    background-color: black;
    border: 10px solid green;
    display: inline-block;
    vertical-align: top;
}
.lazy {
    color: pink;
}

.dog {
    color: white;
}

.end {
    color: gray;
}

.period {
    color: gray;
}