body{
background-color: black;
}
.square{
    width: 220px;
    height : 220px;
    background-color: green;

    position: absolute;
    top: 25px; /* decreased by 5px from 30px */
    left: 50%;
    transform: translateX(-50%);
}

.square2{
    width: 220px;
    height: 220px;
    background-color: yellow;
    position: absolute;
    top: 265px;
    left: 50%;
    transform: translateX(-50%);
}

.square3{
    width: 220px;
    height: 220px;
    background-color: red;
    position: absolute;
    top: 505px;
    left: 50%;
    transform: translateX(-50%);
}
